@font-face {
	font-family: dana;
	font-style: normal;
	font-weight: normal;
	src: url('public/fonts/dana-fanum-regular.eot');
	src: url('public/fonts/dana-fanum-regular.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('public/fonts/dana-fanum-regular.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		 url('public/fonts/dana-fanum-regular.woff') format('woff');  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}